# Dependencies
node_modules/
.pnp
.pnp.js
bun.lockb

# Build outputs
build/
dist/
.svelte-kit/
.turbo/
out/
.next/
bin/
*.exe
*.dll
*.so
*.dylib

# Server specific artifacts
/apps/server/static/
/apps/server/vendor/

# Debug and Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
.vercel

# Testing
coverage/
test-results/
playwright-report/

# OS/IDEs
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.bak

# Config/Secrets
.env*
config.json
!config.example.json
*.pem

# Database
*.db
*.db-shm
*.db-wal
